<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Library</title>
  </head>
  <body>
    <h1>{{ patron.getPatronName }}</h1>

    {% if patrons is not empty %}
        <p>Here are the books checked out by {{ patron.getPatronName }}:</p>
        <ul>
            {% for book in books %}
                <li>{{ book.getTitle }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h4>Add a book to this patron's account:</h4>

    <form action='/patron_books' method='post'>
        <input id="patron_id" name="patron_id" type="hidden" value="{{ patron.getId }}">
        <label for='book_id'>Select a book</label>
        <select id='book_id' name='book_id' type='text'><br>
          {% for book in all_books %}
            <option value="{{ book.getId }}"> {{ book.getTitle }} </option>
          {% endfor %}
      </select>

        <button type='submit'>Add book</button>
    </form>

    <p><a href="/patron/{{ patron.getId }}/edit">Edit this patron</a></p>
    <p><a href='/'>Home</a></p>
  </body>
</html>
